<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle}">커뮤니티</title>
    <link rel="stylesheet" href="/css/community.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script src="/js/common.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('#back').click(function() {
            window.history.back();
        });
        $('#search_button').click(function() {

            var searchText = $('#search_text').val();
            if(searchText == "") {
                alert("검색어를 입력하세요.");
                return;
            }
            // 검색어를 포함한 URL 생성
            // var url = '/community/search?searchText=' + searchText;
            // 페이지 이동
            // window.location.href = url;
            $.ajax({
                url: '/community/search', // 컨트롤러 경로를 지정하세요.
                type: 'POST',
                contentType: 'application/json',
                data: searchText ,
                success: function(response) {
                    console.log('검색 결과:', response);
                    // 기존의 채팅 엔트리를 모두 삭제합니다.
                    $('#searchResult').text(response.searchText);
                },
                error: function(xhr, status, error) {
                    // 오류 발생 시 실행될 코드
                    console.error(xhr.responseText);
                }
            });
        });
    });
</script>
<div class="chat-container">
    <div class="top">
        <div class="left"><i id="back" class="material-icons" style="cursor: pointer;">arrow_back</i></div>
        <div class="center" th:text="${companyName}">루키증권</div>
        <div class="right"></div>
    </div>

    <div class="search-container">
        <form th:action="@{/search}" method="get" class="search-form">
            <h1 th:text="${communityTitle}">커뮤니티</h1>
            <div class="search-fields">
                <select name="searchType" class="search-select">
                    <option value="title">이름 or 내용 </option>
                </select>
                <input id="search_text" type="text" class="search-input" name="search" placeholder="검색...">
            </div>
            <button id="search_button" type="button" class="search-button">검색</button>
        </form>
    </div>

    <div class="search-results">
        <!--        <div th:if="${searchText}" class="search-results">-->
<!--        <p>검색어</p><p id="searchResult">검색 결과입니다.</p>-->
        <p>검색어</p><p id="searchResult"></p>
    </div>

    <div class="chat-list">
        <div th:each="data : ${datas}" class="chat-entry">
            <div class="sender">
                <span th:text="${data.USER_ID}">Sender Name</span>
                <span class="timestamp" th:text="${data.INSERT_DT}">16:20</span>
            </div>
            <div class="message" th:text="${data.CONTENT}">First message snippet...</div>
        </div>
    </div>

    <form method="post" class="chat-submit">
        <input type="text" class="input-field" id="message" name="message" placeholder="메시지 입력..."/>
        <button type="submit" class="send-button">보내기</button>
    </form>

</div>
</body>
</html>